<% provide(:title, 'Home') %>

<div class="center jumbotron">
 


  <h2>
  	<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %></br>
    <%= link_to image_tag("travelnotes.png", alt: "travel notes") %>
   

 <%= link_to image_tag("hotnotes.png", alt: "hot notes"),  '#' %>
</div>


